//* MixIn
// +bgi('../img/demo.jpg','位置可加可不加')
//------------------------------------------------
//* 快捷篇 circle / triangle wh 正方形
// inlist 水平List / hrthick hr厚度
//------------------------------------------------
//* Font 
// 'Oswald', sans-serif
// 'Berkshire Swash', cursive
// 'Raleway', sans-serif
//------------------------------------------------
//* 作全域字體大小切換用
@function toRem($px)
    @return ( $px / $base-font-size ) * 1rem
//------------------------------------------------
.fullScreenBG
    +bgi('../img/bg2.jpg', right bottom,#0E1316)
    +fullScreen
    filter: contrast(120%)
    background-size: contain
    position: fixed
    top: 0
    left: 0
    z-index: -99999
//------------------------------------------------
.back2Top
    font-size: 48px
    cursor: pointer
    margin-left: 10px
    position: fixed
    right: 30px
    bottom: 5px
    transform: rotate(270deg)
    &:hover
        transition: 0.8s
footer
    position: relative
    z-index: 20
    p
        box-sizing: border-box
        text-align: center
        color: #fff
        padding-top: 20px
//------------------------------------------------
.outLineText
    display: none
//------------------------------------------------
.profileSection
    p
        margin: 7px 0 0 0 
        font-size: 18px
        &:nth-child(2)
            font-size: 22px
        &:nth-child(3)
            color: #2796CB
        &:nth-child(4)
            color: #9F609C
        &:nth-child(5)
            color: #8e8e8e
            line-height: 24px
.profilePic
    img
        border-radius: 15px
        +square(150px)
    figcaption
        display: none
//------------------------------------------------
input[type="number"]
    width: 45px
    padding-left: 10px
    text-align: center
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button
        opacity: 1
        padding: 3px 0 