.todoSection
    border: 0.5px solid #8e8e8e
    padding: 20px
//------------------------------------------------
.todoTriggerBar
    display: flex
    flex-flow: row nowrap
    justify-content: space-around
.todoTrigger
    +btnStyle
    flex: 1 
    margin-left: 8px
    border-radius: 0
    color: #fff
    &:first-child
        margin-left: 0
    &:hover
        transform: scale(1.1)
        transition: 0.4s
.todoAddTrigger
    background-color: #005792
.todoFoldTrigger
    background-color: #6B0848
.todoClearTrigger
    background-color: #E61C5D
//------------------------------------------------
.todoList
    +clearListStyle
.todoItem
    margin-top: 10px
    &:first-child
        margin-top: 0
//------------------------------------------------
.todoTitle
    position: relative
    display: flex
    flex-flow: row nowrap
    align-items: center
    border: 0.5px solid #f50057
.todoLink
    color: #fff
    display: block
    padding: 10px
    margin-top: 5px
    margin-right: auto
    &:first-chlid
        margin-top: 0
    &:hover
        text-decoration: underline
.todoBtn
    +clearBtnStyle
    color: #fff
    font-weight: bold
    height: 100%
    &:hover
        transform: scale(1.5)
        transition: 0.4s
.todoRemoveBtn
.todoDropBtn
    margin-right: 3px
.todoDetail
    display: none
    border: 0.5px solid #f50057
    border-top: none
    padding: 10px
.todoActive
    display: block