@charset 'utf-8'
@import _normalize
@import _base
@import _mixin
@import _media
//------------------------------------------------
@import _nav
@import _aside
@import _article
//------------------------------------------------
@import _todoModal
@import _todoSection
@import _modalBox
// //------------------------------------------------
@import _done
//! git push -u origin master
//------------------------------------------------
//! z-index
// fullScreenBG -99999
//* aside 30  navSticky 30  //-⇩ ∧
// #6CC177 #00A0E9 #E24C48 #005792 #6B0848 #E61C5D
//------------------------------------------------
.modalBox,.fullScreenFilter
    // display: none
//------------------------------------------------
.fullScreenBG
    +bgi('../img/bg2.jpg', right bottom,#0E1316)
    background-size: contain
    // filter: grayscale(10%)
    // background-position: -350px bottom
    // transform: scaleX(-1)
//------------------------------------------------
.fullScreenFilter,.modalBox
    display: none
.testArea
    padding: 30px
.testBox
    height: 1500px
    background-color: transparent
//------------------------------------------------
body
    color: #fff
    +fullScreen
    position: relative
    display: flex
    flex-flow: column nowrap
//------------------------------------------------
main
    flex: 1
    box-sizing: border-box
    width: 100%
    max-width: 800px
    background-color: rgba(#000,0.4)
    border: 0.2px solid #9e9e9e
    margin: 0 auto
    padding: 30px
    margin-top: 10px
    //* nav 75 & footer height 18
    // min-height: 83.5%
//------------------------------------------------
.pageNav
    +inlineList()
    margin: 0 auto
    justify-content: space-around
    max-width: 400px
    a
        color: #fff
        font-weight: bold
        font-size: 32px
        &:hover
            border-bottom: 3px solid #fff 
.pageNavLink
    +clearBtnStyle
    color: #fff
    font-weight: bold
    font-size: 32px
    &:hover
        border-bottom: 3px solid #fff 
.pageNavActive
    border-bottom: 3px solid #fff
//------------------------------------------------
aside
    overflow: scroll
aside::-webkit-scrollbar
    display: none
.todoSection
    margin-bottom: 160px
//------------------------------------------------
//! FIXME
hr
    // border-top: 0.2px solid #8c8b8b 
    // border: 0
    border-width: 0.5px
    background-color: #8c8b8b
//------------------------------------------------
.contactImg
    cursor: pointer
    +square(35px)
    &:hover
        transform: scale(1.1)
        transition: 0.4s
.contactSection
    font-size: 17px
    img
        @extend .contactImg
.contactBar
    display: flex
    flex-flow: row nowrap
    align-items: center
    img
        @extend .contactImg
        margin-right: 15px
//------------------------------------------------
.siteInfoSection
    h3
        font-family: 'Oswald', sans-serif
        letter-spacing: 1.5px
        font-weight: 400
    hr
        margin: 15px 0
//------------------------------------------------
.artSectionTools
    display: flex
    flex-flow: row nowrap
    align-items: center
    padding-left: 10px
.breadCrumbLink
    color: #bcaaa4
    font-size: 20px
    font-weight: 500
    span
        &:hover
            border-bottom: 0.5px solid #bcaaa4
    &:after
        display: inline-block
        content: "/"
        margin: 0 5px
    &:last-child
        &:after
            content: ""
.pageCount
    box-sizing: border-box
    margin-left: auto
    display: flex
    flex-flow: row nowrap
    align-items: center
    padding: 3px
    label
        display: inline-block
        margin-right: 7px
    input
        flex: 1
    input[type="number"]
        padding: 5px 0 5px 5px 
        margin: 0 7px
        align-self: stretch
        font-size: 19px
        &:focus
            border: 4px solid #80deea
    input[type="submit"]
        border-radius: 15px
        border: none
        +btnStyle
        background-color: #7e57c2
        letter-spacing: 1.2px
        color: #fff
        &:hover 
            transform: scale(1.1)
            transition: 0.4s
            
//------------------------------------------------
//! Animation Section

    