@charset 'utf-8'
@import _normalize
@import _base
@import _mixin
@import _media
//------------------------------------------------
@import _nav
@import _aside
@import _article
//------------------------------------------------
@import _todoModal
@import _todoSection
@import _modalBox
// //------------------------------------------------
@import _done
//! git push -u origin master
//------------------------------------------------
//! z-index
// fullScreenBG -99999
//* aside 30  navSticky 30
// #6CC177 #00A0E9 #E24C48 #005792 #6B0848 #E61C5D
//------------------------------------------------
.modalBox,.fullScreenFilter
    // display: none
//------------------------------------------------
.fullScreenBG
    +bgi('../img/bg2.jpg', right bottom,#0E1316)
    background-size: contain
    // filter: grayscale(10%)
    // background-position: -350px bottom
    // transform: scaleX(-1)
//------------------------------------------------
.fullScreenFilter,.modalBox
    display: none
.testArea
    padding: 30px
.testBox
    height: 1500px
    background-color: transparent
//------------------------------------------------
body
    color: #fff
    +fullScreen
    position: relative
    display: flex
    flex-flow: column nowrap
//------------------------------------------------
main
    flex: 1
    box-sizing: border-box
    width: 100%
    max-width: 800px
    background-color: rgba(#000,0.4)
    border: 0.2px solid #9e9e9e
    margin: 0 auto
    padding: 30px
    margin-top: 10px
    //* nav 75 & footer height 18
    // min-height: 83.5%
//------------------------------------------------
.pageNav
    +inlineList()
    margin: 0 auto
    justify-content: space-around
    max-width: 400px
    a
        color: #fff
        font-weight: bold
        font-size: 32px
        &:hover
            border-bottom: 3px solid #fff
.pageNavActive
    border-bottom: 3px solid #fff
//------------------------------------------------


