doctype html
html(lang="zh-Hant-TW")
  head
    block head
      include _head.pug
  body#top
    h4.outLineText MainSection
    block mainNav
      include _mainNav.pug
    block aside
      include _aside.pug

    main
      block main
    .fullScreenBG
    .fullScreenFilter
    .back2Top ➲
    block modalBox
      include _modalBox.pug
    block todoModalBox
      include _todoModalBox.pug

    footer 
      p © 2018 By RocMark.
    script(
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous")
    //- Font Awesome CDN 2018/3/4
    script(src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" defer)
    script(src="./js/main.js")