doctype html
html(lang="zh-Hant-TW")
  head
    block head
      include _head.pug
  body#top
    h4.outLineText MainSection
    block mainNav
      include _mainNav.pug
    block aside
      include _aside.pug

    main
      block main
    .fullScreenBG
    .fullScreenFilter
    .back2Top ➲
    //- block modalBox
      include _modalBox.pug
    .modalBox.alertModalBox
        h3.modalTitle Lorem, ipsum.
        .modalContent 
          p.modalText Lorem ipsum dolor sit amet consectetur adipisicing elit. Non neque adipisci, et officia accusantium porro eius eligendi architecto, nostrum rerum debitis exercitationem repellat doloremque eaque harum odit? Quidem accusantium hic necessitatibus neque molestiae quisquam aperiam quos, tempore quia saepe qui alias incidunt suscipit corporis repudiandae magni ex vero a. Alias!
          button.modalBtn.modalSubmitBtn Submit
          button.modalExitBtn X
    .modalBox.todoModalBox
        h3.modalTitle TODO ModalBox
        .modalContent 
          form.todoForm
              input.addTodoTitle(type="search" value="" placeholder="TODO Title")
              input.addTodoLink(type="search" value="" placeholder="Link" spellcheck="false")
              textarea(rows="8" cols="30" placeholder="TODO Content")
              input.modalBtn(type="submit", value="ADD")
              button.modalExitBtn X
    //----------------------------------------------------------------------
    footer 
      p © 2018 By RocMark.
    script(
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous")
    //- Font Awesome CDN 2018/3/4
    script(src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" defer)
    script(src="./js/main.js")