block mainNav
    nav.mainNav
        ul.navList
            .siteLogo
                button.testTrigger T
                button.asideToggle ≣
                h1.siteName 
                    a(href="#") RocMarkSite
            li.navItem: a.navLink(href="") Home
            li.navItem: a.navLink(href="") About
            li.navItem: a.navLink(href="") Demo
            li.navItem: a.navLink(href="") Archives