block mainNav
    nav.mainNav
        ul.navList
            .siteLogo
                button.testTrigger T
                button.asideToggle ≣
                h1.siteName 
                    a(href="#") RocMarkSite
            li.navItem: a.navLink(href="./index.html") Home
            li.navItem: a.navLink(href="./demo.html") Demo
            li.navItem: a.navLink(href="./about.html") About