block todoModalBox
.modalBox.todoModalBox
    h3.modalTitle TODO ModalBox
    .modalContent 
        form#todoForm
            input#addTodoTitle(type="search" value="TODOSample" placeholder="TODO Title" spellcheck="false" autocomplete="off")
            input#addTodoLink(type="search" value="https://www.google.com" placeholder="https://Link" spellcheck="false" autocomplete="off")
            textarea#addTodoContent(rows="8" cols="30" placeholder="TODO Content" spellcheck="false" autocomplete="off")
            .modalBtnBar
                input.modalBtn#addTodoReset(type="reset", value="Reset")
                input.modalBtn#addTodoSubmit(type="submit", value="Submit")
    button.modalExitBtn X