extends _layout
block main
    h1 FormCollection
    //- .testArea
        form
            textarea(rows="8" cols="30" placeholder="TestClickCopy")
            input(type="text" value="" placeholder="testing")
    .demoBlock
    .demoBlock
    .demoBlock


