extends _layout
//- ImgPath  (../img/file.jpg)   //watch out filetype!!
//- htmlPath (./file.html)
block main
    //- .testBox
    section.artSection
        h4.outLineText#artSectionOutLine ArticleSection
        .artList
            
        .pageNav
            a#pageNavPreBtn(href="#") < Pre
            button.pageNavLink(href="#" data-page="1")#pageNavOne.pageNavActive 1
            a#pageNavNextBtn(href="#") Next >
//-------------------------------------------------------------