extends _layout
//- ImgPath  (../img/file.jpg)   //watch out filetype!!
//- htmlPath (./file.html)
block main
    //- .testBox
    section.artSection
        .artSectionTools
            .breadCrumb 
                a.breadCrumbLink(href="#"): span Home
                a.breadCrumbLink(href="#"): span Archives
                a.breadCrumbLink(href="#"): span HTML
            .pageCount
                label 文章篇數設定
                    input#pageCountSetUp(type="number" value="1" max="" min="1")
                input#pageCountSetBtn(type="submit" value="Set")
        h4.outLineText#artSectionOutLine ArticleSection
        .artList
            
        .pageNav
            a#pageNavPreBtn(href="#") < Pre
            button.pageNavLink(href="#" data-page="1")#pageNavOne.pageNavActive 1
            a#pageNavNextBtn(href="#") Next >
//-------------------------------------------------------------